.container-fluid, body{
      
    text-align: center;
    font-size: 13px;
    background-color: #CCFFCC!important;
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
#section{
    
    text-align: left;
    padding: 0px;
    margin-top: 50px
}
#homepg{
    /* background-color: saddlebrown; */
    width:100%;
    font-size: 70px;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.thispage{
    
    height:50vh;
    width:50vh;
    padding-bottom: 0%;

}
.mylogo{
    margin-left: -80px;
    margin-top: 70px;
    z-index: 99;
}
.lecsection{
    border-radius: 20px;
    padding: 5px;
/*    background-color: white;*/
    background-color: rgba(255,255,255,.75);
    margin:0 auto;
    font-size: 20px;
}

.footer{
    position: fixed;
    clear: both;
    width: 100%;
    bottom: 0;
   background-color: skyblue;
    /* color: white; */
    font-size: 15px;
    padding-right: 0px;
}
table{
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    font-size:15px;
    text-align: center;
    width: 100%;
}
#tick{
    color:green;
	font-size: 20px;
	text-align: center;

}

#tick2{
    color:#FF3300;
	font-size: 30px;
	text-align: center;

}
.thisText{
    color:#2d727e;
}
th{
    color:#006600;
    font-size: 17px;
}
td{
    font-weight: 700;
    font-size:15px;
    border: none;
}


.required{
    color: red;
    font-size:25px;
}
.msg{
    color:red;
    font-size:14px
}
.fullimage{
    width:100%;
}

  .downIcon{
    margin-top: 0%;
    font-size:100px;
   color: black;
   }
   #loginpg, #registerpg,#admhomepg,#lechomepg,.studentshome {
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);

}
.phoneno{
    padding: 25px;
    margin-top: 105px;
    max-width: 500px;
    border-radius: 36px;
}
.images{
    width:150px;
    height:150px;
    border:0;
    margin-top:-50px;
    margin-bottom: 50px;
    font-size: 50px;
    color:white;
    margin-left: 150px;
}
.profile{
    width:100px;
    height:100px;
    font-size: 100px;
    color: white;
}
.myprofile{
    margin-left: 10%;
}
.smallimg{
    font-size: 20px;
    width: 100%;
}
.mdbutton{
    background-color: dodgerblue;
}
#demo11{
    font-size:20px!important;
    color:red;
}
p5{
   color: rgb(28, 4, 245);
   font-size:20px
   /* background-color: #FF3300; */
}
.userprofile{
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);

}
.even {
    background-color: #b7e4ba;
}
.alertst{
    font-size:30px;
    margin-right: -100px;
    color:rgb(7, 192, 7);
}

